<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DBFacturacionEntities" connectionString="metadata=res://*/FacturacionDatosModel.csdl|res://*/FacturacionDatosModel.ssdl|res://*/FacturacionDatosModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-88D8PT2;initial catalog=DBFacturacion;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>